


html,body {
	margin:0;
	padding:0;
	height: 100%;
background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */









}

body{
	font-weight: 400;
	font-size: 15px;
	background-color: rgb(210, 250, 159);
}

.bag{
	background-color: #0ca12c  ;	
}
a{
	color: #333;
	text-decoration: none;
}
.conta{
	width: 100%;
	height: 85vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cn-container{
	width: 60%;
	min-width: 300px;
	max-width: 820px;
	margin: 10px auto 0 auto;
}
.cn-container h2{
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	color: #fff;
	position: absolute;
	z-index: 10000;
	text-shadow: 0 0 1px rgba(255,255,255,0.8), 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 80px;
	line-height: 80px;
	top: 200px;
	right: 0px;
	white-space: nowrap;

}

.cn-slide .but a{
	text-align: center;
	display: block;
	font-family: 'Acme', sans-serif;
	border: 8px solid #fff;
	padding: 2%;
	font-size: 66px;
	letter-spacing: 7px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	color: #fff;
	/* line-height: 40px; */
	line-height: 40px;
	outline: none;
	margin: 0 0 15px 0;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
	-webkit-background-size: 100%; -moz-background-size: 100%; -o-background-size: 100%; background-size: 100%; 
	background-clip: padding-box; 	
	opacity: 1;
	-webkit-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-moz-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-o-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-ms-transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: opacity 0.4s linear, border-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.cn-slide .but a:hover{
	border-color: rgb(16, 53, 21) ;
	color: rgb(16, 53, 21);
	background: linear-gradient(rgba(245, 242, 242, 0.3),rgba(247, 243, 243, 0.3));
	font-weight: bold;
	transform: scale(1,1.1);
	transition: 0.3s transform;
	text-decoration: none;
  
}


@media screen and (max-width: 900px){
	.cn-container h2{
		font-size: 48px;
		line-height: 95px;
	}
	.cn-slide .but a{
		font-size: 38px;
	}

}