* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montaga', serif;
  }
  
  body {
    background-image: linear-gradient(rgb(133, 233, 200), rgba(206, 207, 247, 0.836), rgba(202, 192, 228, 0.836), rgb(133, 233, 200));
  }
  
  .heading{
    color: white;
    font-size: 2.1rem;
    text-shadow: 2px 2px 4px rgb(66, 66, 66);
  }
  .generate {
  
    width: 13%;
    height: 25px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #5e45a2, #5bcadd, #3292be);
    background-size: 200%;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin:0;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1rem;
    margin-top: 1rem;
    bottom: 4px;
    left: 0%;
    right: 0%;
    box-shadow: 2px 2px 4px rgb(54, 53, 53);
  }

  .generate:hover {
    background-position: right;
  }
  

  @media(max-width:900px){
      .generate{
          width:30%;
          font-size: 0.8rem;
      }
  }

  .box{
      height:320px;
      background-color: white;
      border-radius: 25px;
      margin-left:37%;
      padding:1rem;
      width:320px;
      margin-top: 3rem;
      
  }

  #qrcode{
      margin: 2rem;
    

  }

  .seatno {
    height: 35px;
    background-image: linear-gradient(to right, #c7bbeb, #99d7e2, #a9c9d8);
    background-size: 200%;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    width: 15rem;
    margin-left: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 4px rgb(100, 100, 100);
    margin-top:2rem;
    border:none;
    padding:0.3rem;
  }

  .showgrid{
display:grid;
grid-template-columns:  1fr 1fr 1fr;
grid-template-rows: 1fr;
padding-left:20%;
padding-right:30%;
  }
  @media(max-width: 900px){
    .seatno{
      width:30rem;
    }
    .showgrid{
      display:grid;
      grid-template-columns:  1fr ;
      grid-template-rows: 1fr 1fr 1fr  ;
      padding-left:33.5%;
      padding-right:none;
      margin-bottom: 2rem;
        }
    .box{
        height:320px;
        background-color: white;
        border-radius: 25px;
        margin-left:2rem;
        padding:1rem;
        width:320px;
        margin-top: 5rem;
    }

    .seatno{
        width:7rem;
    }
  }

#qrbox{
    display:none;
}


.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(133, 233, 200) 50%, rgba(16, 126, 74, 0.836) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}