@import url('https://fonts.googleapis.com/css2?family=Montaga');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montaga', serif;
}

/* Home Page Background */
@media(min-width:768px){
  .home-text{
    position: absolute;
    top: 10%;
    left: 17%;
    color: #ffffff;
  }
}

@media(min-width:992px){
  .home-text{
    position: absolute;
    top: 10%;
    left: 21%;
    color: #ffffff;
  }
}
@media(min-width:1200px){
  .home-text{
    position: absolute;
    top: 10%;
    left: 28%;
    color: #ffffff;
  }
}


@media(max-width:767px){
  .home-text{
    position: absolute;
    top: 2%;
    /* left: 25%; */
    color: #ffffff;
  }
}
.welcome-area
{
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../Assets/home.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* Login */

#login{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(../Assets/3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    color: azure;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }