*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1
{
  font-family: 'Luna';
  color: black;
  font-size: 2.9rem;
  letter-spacing: -3px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  position: relative;
  z-index: 3;
}

.container
{
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
          align-items: center;
          justify-content: center;
 
  min-height: 100vh;
  background-image:  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/image\ 6.jpg);
  background-size: cover;
  padding: 2rem;
}

.bird
{
  background-image: url(bird-cells-new.svg);
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
              animation-name: fly-cycle;
              animation-timing-function: steps(10);
              animation-iteration-count: infinite;
}

.bird--one
{
              animation-duration: 1s;
              animation-delay: -0.5s;
}
.bird--two
{
              animation-duration: 0.9s;
              animation-delay: -0.75s;
}
.bird--three
{
              animation-duration: 1.25s;
              animation-delay: -0.25s;
}
.bird--four
{
              animation-duration: 1.1s;
              animation-delay: -0.5s;
}

.bird-container
{
  position: absolute;
  top: 20%;
  left: -10%;
          transform: scale(0) translateX(-10vw);
  will-change: transform;
          animation-name: fly-right-one;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
}

.bird-container--one
{
          animation-duration: 15s;
          animation-delay: 0;
}
.bird-container--two
{
          animation-duration: 16s;
          animation-delay: 1s;
}
.bird-container--three
{
          animation-duration: 14.6s;
          animation-delay: 9.5s;
}
.bird-container--four
{
          animation-duration: 16s;
          animation-delay: 10.25s;
}

@keyframes fly-cycle
{
  100%
  {
    background-position: -900px 0;
  }
}

@keyframes fly-right-one
{
  0%
  {
    transform: scale(0.3) translateX(-10vw);
  }
  10%
  {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }
  20%
  {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }
  30%
  {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }
  40%
  {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }
  50%
  {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }
  60%
  {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
  100%
  {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}

@keyframes fly-right-two
{
  0%
  {
    transform: translateY(-2vh) translateX(-10vw) scale(0.5);
  }
  10%
  {
    transform: translateY(0vh) translateX(10vw) scale(0.4);
  }
  20%
  {
    transform: translateY(-4vh) translateX(30vw) scale(0.6);
  }
  30%
  {
    transform: translateY(1vh) translateX(50vw) scale(0.45);
  }
  40%
  {
    transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
  }
  50%
  {
    transform: translateY(0vh) translateX(90vw) scale(0.45);
  }
  51%
  {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
  100%
  {
    transform: translateY(0vh) translateX(110vw) scale(0.45);
  }
}

.button {
  --offset: 10px;
  --border-size: 4px;
  display: block;
  position: relative;
  padding: 1.5em 1.5em;
  -webkit-appearance: none;
    -moz-appearance: none;
      appearance: none;
  border: 0;
  background: transparent;
  color: #f8dc81;
  text-transform: uppercase;
  letter-spacing: .25em;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0;
  box-shaddow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background .8s ease;
}

.button:hover {
  background: rgba(100, 0, 0, 0.03);
}
.button_horizontal, .button_vertical {
  position: absolute;
  top: var(--horizontal-offset, 0);
  right: var(--vertical-offset, 0);
  bottom: var(--horizontal-offset, 0);
  left: var(--vertical-offset, 0);
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  will-change: transform;
}
.button_horizontal::before, .button_vertical::before {
  content: '';
  position: absolute;
  border: inherit;
}
.button_horizontal {
  --vertical-offset: calc(var(--offset) * -1);
  border-top: var(--border-size) solid currentcolor;
  border-bottom: var(--border-size) solid currentcolor;
}
.button_horizontal::before {
  top: calc(var(--vertical-offset) - var(--border-size));
  bottom: calc(var(--vertical-offset) - var(--border-size));
  left: calc(var(--vertical-offset) * -1);
  right: calc(var(--vertical-offset) * -1);
}
.button:hover .button_horizontal {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
.button_vertical {
  --horizontal-offset: calc(var(--offset) * -1);
  border-left: var(--border-size) solid currentcolor;
  border-right: var(--border-size) solid currentcolor;
}
.button_vertical::before {
  left: calc(var(--horizontal-offset) - var(--border-size));
  right: calc(var(--horizontal-offset) - var(--border-size));
  top: calc(var(--horizontal-offset) * -1);
  bottom: calc(var(--horizontal-offset) * -1);
}
.button:hover .button_vertical {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}



@media (max-width: 1028px)
{
  .container{
    background-position: center center;
  }
}

      
        @media only screen and (max-width: 500px) {
           .button{
            --border-size: 3px;
             font-size: 10px;
           }
        }
       